<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:be.container>
	<div class="module gridtocontainer" data-module-id="" data-module-name="tools_GridToContainer">
		<div class="module-loading-indicator"></div>
		<div class="module-docheader t3js-module-docheader">
			<div class="module-docheader-bar module-docheader-bar-buttons t3js-module-docheader-bar t3js-module-docheader-bar-buttons">
				<div class="module-docheader-bar-column-left">
					<f:be.buttons.csh />
					<f:be.menus.actionMenu>
						<f:be.menus.actionMenuItem label="{f:translate(key: 'migrate.actionMenu.1')}" controller="" action="list" />
						<f:be.menus.actionMenuItem label="{f:translate(key: 'migrate.actionMenu.3')}" action="migrategeneral" controller="" />
						<f:be.menus.actionMenuItem label="{f:translate(key: 'migrate.actionMenu.4')}" action="analyse" controller="" />
						<f:be.menus.actionMenuItem label="{f:translate(key: 'migrate.actionMenu.2')}" action="overview" controller="" />
					</f:be.menus.actionMenu>
				</div>
			</div>

		</div>
		<div class="module-body t3js-module-body">
			<div id="container-content">
				<f:flashMessages />
				<f:render section="content" />
			</div>
		</div>
	</div>
</f:be.container>
</html>
